<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>MyIntelGPU</string>
	<key>CFBundleIdentifier</key>
	<string>com.pongpan-bk.MyIntelGPU</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>MyIntelGPU</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>2.0</string>
	<key>CFBundleVersion</key>
	<string>2.0.240</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>Universal_AutoMatch_GPU</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.pongpan-bk.MyIntelGPU</string>
			<key>IOClass</key>
			<string>MyIntelGPU</string>
			<key>IOPCIClassMatch</key>
			<string>0x03000000&amp;0xff000000</string>
			<key>IOProbeScore</key>
			<integer>9999</integer>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
			<key>device-id</key>
			<data>rKcAAA==</data>
			<key>model</key>
			<string>Xe-LP (Generation 12.2)</string>
			<key>IOMatchCategory</key>
			<string>IOAccelerator</string>
			<key>IOVARendererID</key>
			<data>AAAAAA==</data>
		</dict>

	</dict>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.iokit.IOPCIFamily</key>
		<string>2.9</string>
		<key>com.apple.iokit.IOGraphicsFamily</key>
		<string>500.0</string>
		<key>com.apple.kpi.bsd</key>
		<string>10.0.0</string>
		<key>com.apple.kpi.iokit</key>
		<string>10.0.0</string>
		<key>com.apple.kpi.libkern</key>
		<string>10.0.0</string>
		<key>com.apple.kpi.mach</key>
		<string>10.0.0</string>
	</dict>
	<key>OSBundleRequired</key>
	<string>Root</string>
</dict>
</plist>
